Python Assignment: Variables, Operators and Type Casting

Name : Aditya Borade

Date 11/12/2024


1.Understanding Variables:

*Variables play a crucial role in Python, as they provide a way to store and manipulate data throughout a program.

*variables are a fundamental concept in Python programming and are essential for any kind of data manipulation and analysis

my name="Aditya Borade"     
 #my name is the  variable
print(type(my name))  
 #checking the data type

1.1)what is the difference between the variable and constant

The value of a variable can change, while the value of a constant remains the same:

2.WORKING WITH DIFFFERENT DATA TYPES

A)creating variables of the following types in Python

1.integer

2.float

3.string

4.boolean

In [1]:
# 1. Integer
my_integer = 437
print(type(my_integer))

# 2. Float
my_decimal = 5.98
print(type(my_decimal))

# 3. String
my_text = "Values in text"
print(type(my_text))

# 4. Boolean
x = True
y = False

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

3. Arithmetic Operators
a) Expalin the following arithmetic operator with example

In [16]:
#addition(+)
num1=50
num2=30
sum=(num1+num2)
print("sum:",num1+num2)
print(type(sum))

sum: 80
<class 'int'>

In [15]:
#subtraction (-)
num1=120
num2=30
sub=(num1-num2)
print("sub:",num1-num2)
print(type(sub))

sub: 90
<class 'int'>

In [11]:
#multiplication
num1=20
num2=30
multi=(num1*num2)
print("multi:",num1*num2)

multi: 600

In [8]:
#floor division
num1=50
num2=30
floor_div=(num1//num2)
print("floor_div:",num1//num2)
print(type(floor_div))

floor_div: 1
<class 'int'>

In [12]:
#division
num1=20
num2=30
div=(num1/num2)
print("div:",num1/num2)
print(type(div))

div: 0.6666666666666666
<class 'float'>

In [13]:
#modulus
num1=80
num2=20
mod=(num1/num2)
print("mod:",num1/num2)
print(type(mod))

mod: 4.0
<class 'float'>

In [17]:
#exponential
num1=20
num2=30
expo=(num1**num2)
print("expo:",num1**num2)
print(type(expo))

expo: 1073741824000000000000000000000000000000
<class 'int'>

b)Write a Python script to calculate the area of a rectangle using variables `length`
and `width` with values 5 and 10, respectively. Use the multiplication operator.

In [30]:
#area of rectangle
length=5
width=10
area_rect=length*width
print("AREA OF RECTANGLE=",area_rect)

AREA OF RECTANGLE= 50

4.Comparison and Logical Operators

a. Explain the following comparison operators with examples:

In [42]:
#equal to ('==')
first_value=20
second_value=21
print("first_value")
print("second_value")
print(first_value==second_value)

first_value
second_value
False

In [46]:

# not equal to ('!='
num1=20
num2=222
print("num1")
print("num2")
print(num1!=num2)

num1
num2
True

In [47]:
#. Greater than (`>`)
third_value=30
fourth_value=35
print(third_value>fourth_value)

False

In [49]:
#Less than (`<`)
num1=52
num2=54
print(num1<num2)

True

In [50]:
#Greater than or equal to (`>=`)
first_val=22
second_val=65
print(first_val>=second_val)

False

In [51]:
#Less than or equal to (`<=`)
print(second_val>=first_val)

True

b. Using logical operators (`and`, `or`, `not`), write a Python script that checks if a
number is positive and even

In [70]:
num = 1125
if not(num == 0):
    if (num > 0 and num % 2 == 0):
        print("Number is positive and even.")
    elif (num > 0 and num % 2 != 0):
        print("Number is positive and odd.")
    else:
        print("Number is negative")
else:
    print("Number is Zero.")

Number is positive and odd.

5.Type Casting in Python

a. What is type casting? Explain the difference between implicit and explicit type
casting with examples.

Type casting is the process of changing a variable's data type to another.

1.
Implicit Type Casting in C(Type Coercion) is automatically performed by the compiler when assigning values between compatible data types.
2. Explicit Type Casting in C manually performed using the casting operator (new_data_type) to convert values between different data types.22 Jun 2024

b. Write a Python script that:

In [73]:
#Converts a float to an integer
float=13.25
print("float to integer conversion:",int(float))

float to integer conversion: 13

In [75]:
#Converts an integer to a string
integer=1256
print("integer to string conversion:",str(integer))

integer to strinf conversion: 1256

In [ ]:
#Converts a string to a float
string=253
print("string to float:",float(string))
#conversion of string to float is not possible

Practical Exercise: Mini Calculator
Write a Python script that asks the user to input two numbers and then:


1. Adds the two numbers and prints the result.
2. Subtracts the second number from the first and prints the result.
3. Multiplies the two numbers and prints the result.
4. Divides the first number by the second and prints the result (handle division by zero).
5. Converts the sum of the numbers to a string and prints the type of the result.

In [82]:
n_one=int(input("enter your first number"))
n_two=int(input("enter youe second number"))
sum=n_one+n_two
print("sum:",n_one+n_two)

enter your first number20
enter youe second number10
sum: 30

In [83]:
sub_result=(n_one-n_two)
print("sub_result:",n_one-n_two)

sub_result: 10

In [85]:
multi_result=(n_one*n_two)
print("multi_result:",n_one*n_two)

multi_result: 200

In [86]:
divide_result=n_one/n_two
print("divide_result:",n_one/n_two)

divide_result: 2.0

In [ ]:
print("Data Type -->",type(str(sum_result)))